<!-- corpo  base-->
<app-menu [search]=true></app-menu>
<div class="container-page">
    <div class="row container-row ">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 table-container">
            <div class="container table-responsive py-5 table-container-responsive">
                <div class="title-container">
                    <h1>
                        <span *ngIf="!searchButton">Ricerca </span>Articoli.
                    </h1>
                    <i class="fas fa-box-open"></i>
                </div>
                <h3 *ngIf="!searchButton" class="results">La tua ricerca ha prodotto: {{items.length}} risultati</h3>
                <table class="table" *ngIf="items.length>0;">
                    <tr class="tr">
                        <td class="th">Codice</td>
                        <td class="th">Descrizione</td>
                        <td class="th">Prezzo</td>
                        <td class="th">Unità di misura</td>
                    </tr>
                    <tr *ngFor="let item of items" class="tr">
                        <td class="td">{{item.code}}</td>
                        <td class="td">{{item.description}}</td>
                        <td class="td">{{item.price}}.00€</td>
                        <td class="td">{{item.unitOfMeasure.unit}} ({{item.unitOfMeasure.name}})</td>
                    </tr>
                </table>
            </div>
        </div>
        <button onclick="toggleLayerOverlay()">
            <div id="overlay"></div>
        </button>
    </div>
</div>
<app-footer></app-footer>