<app-menu [search]=true></app-menu>
<div class="container-page">
    <div class="row container-row ">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 table-container">
            <div class="container table-responsive py-5 table-container-responsive" *ngIf="customers.length>0; else empty">
                <div class="title-container">
                    <h1><span *ngIf="!searchButton">Ricerca </span>Clienti.</h1><i class="fas fa-users"></i>
                    <div class="button-container-new" *ngIf="searchButton">
                        <button onclick="toggleNewLayer()" (click)="resetForm()"><a>Nuovo Cliente</a></button>
                    </div>
                </div>
                <h3 *ngIf="!searchButton" class="results">La tua ricerca ha prodotto: {{customers.length}} risultati</h3>
                <table class="table">
                    <tr class="tr">
                        <td class="th">Codice</td>
                        <td class="th">Ragione Sociale</td>
                        <td class="th">Partita IVA</td>
                        <td class="th">Num. Telefono</td>
                        <td class="th">E-mail</td>
                        <td class="th">Indirizzo</td>
                        <td class="th">Azioni</td>
                    </tr>
                    <tr *ngFor="let item of customers; let i = index;" class="tr">
                        <td class="td">{{i+1}}</td>
                        <td class="td">{{item.name}} {{item?.surname}}</td>
                        <td class="td">{{item.ivaCode}}</td>
                        <td class="td">{{item.phone}}</td>
                        <td class="td">{{item.email}}</td>
                        <td class="td">{{item.address}}</td>
                        <td class="td">
                            <button *ngIf="searchButton" onclick="toggleLayer()" (click)="resetForm(); detail(item.id); populateForm()"><i class="fas fa-edit"></i></button>
                            <button onclick="toggleLayerZoom()" (click)="detail(item.id)"><i class="fas fa-search" id="zoom"></i></button>
                            <button *ngIf="searchButton" onclick="toggleLayerConfirm()" (click)="detail(item.id)"><i class="fas fa-times"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
            <ng-template #empty>
                <div class="empty" *ngIf="searchButton">
                    <h2>Non hai nessun cliente.<br>Aggiungine uno ora!</h2>
                    <button onclick="toggleNewLayer()" class="add">Nuovo Cliente</button>
                </div>
                <div class="empty" *ngIf="!searchButton">
                    <h2>La tua ricerca non ha prodotto risultati.</h2>
                </div>
            </ng-template>
        </div>
        <button onclick="toggleLayerOverlay()">
            <div id="overlay"></div>
        </button>
    </div>
</div>
<app-footer></app-footer>

<!--DIV MODIFICA CLIENTE-->
<div id="div-edit" style="display: none;">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times"></i></button>
        <h1>Modifica Cliente</h1>
        <form [formGroup]="customerForm" (ngSubmit)="edit()">
            <div class="row">
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="ragione-sociale">Ragione Sociale*</label>
                        <input class="form-control" placeholder="Ragione Sociale" formControlName="name">
                    </div>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="codice">Cognome</label>
                        <input class="form-control" placeholder="Cognome" formControlName="surname">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div class="form-group">
                        <label for="partita-iva">Partita IVA*</label>
                        <input class="form-control" placeholder="Partita IVA" formControlName="ivaCode">
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="codice-fiscale">Numero di telefono</label>
                        <input type="tel" class="form-control" placeholder="Numero di telefono" formControlName="phone">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-sm-5 col-md-5 col-lg-5 ">
                    <div class="form-group">
                        <label for="e-mail">E-mail*</label>
                        <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
                    </div>
                </div>
                <div class="col-7 col-sm-7 col-md-7 col-lg-7">
                    <div class="form-group">
                        <label for="indirizzo">Indirizzo*</label>
                        <input class="form-control" placeholder="Indirizzo" formControlName="address">
                    </div>
                </div>
            </div>
            <p>* Campi obbligatori</p>
            <div class="form-group">
                <button type="submit" onclick="toggleLayerX()" [disabled]="customerForm.status === 'INVALID'" [ngClass]="{'disabled': customerForm.status === 'INVALID'}">Modifica Cliente</button>
            </div>
        </form>
    </div>
</div>

<!--DIV CREA CLIENTE-->
<div id="div-new" style="display: none;">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times" ></i></button>
        <h1>Crea Nuovo Cliente</h1>
        <form [formGroup]="customerForm" (ngSubmit)="add()">
            <div class="row">
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="ragione-sociale">Ragione Sociale*</label>
                        <input class="form-control" placeholder="Ragione Sociale" formControlName="name">
                    </div>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="codice">Cognome</label>
                        <input class="form-control" placeholder="Cognome" formControlName="surname">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div class="form-group">
                        <label for="partita-iva">Partita IVA*</label>
                        <input class="form-control" placeholder="Partita IVA" formControlName="ivaCode">
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="codice-fiscale">Numero di telefono</label>
                        <input type="tel" class="form-control" placeholder="Numero di telefono" formControlName="phone">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-sm-5 col-md-5 col-lg-5 ">
                    <div class="form-group">
                        <label for="e-mail">E-mail*</label>
                        <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
                    </div>
                </div>
                <div class="col-7 col-sm-7 col-md-7 col-lg-7">
                    <div class="form-group">
                        <label for="indirizzo">Indirizzo*</label>
                        <input class="form-control" placeholder="Indirizzo" formControlName="address">
                    </div>
                </div>
            </div>
            <p>* Campi obbligatori</p>
            <div class="form-group">
                <button type="submit" onclick="toggleLayerX()" [disabled]="customerForm.status === 'INVALID'" [ngClass]="{'disabled': customerForm.status === 'INVALID'}">Crea Cliente</button>
            </div>
        </form>
    </div>
</div>

<!--DIV SEI SICURO DI VOLER ELIMINARE IL CLIENTE?-->
<div id="div-delete" style="display: none; ">
    <div class="form-container">
        <button id="x-icon"><i class="fas fa-times" ></i></button>
        <h1>Sei sicuro di voler eliminare il Cliente?</h1>
        <br> <br>
        <button class="confirm-button" style="margin-right: 20px;" type="submit" (click)="delete();" onclick="toggleLayerX()">Si</button>
        <button onclick="cancelConfirmLayer()" class="confirm-button" type="submit">No</button>
        <br><br><br>
    </div>
</div>

<!--DIV DETTAGLIO CLIENTE-->
<div id="div-detail" style="display: none; color: white;">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times" ></i></button>
        <h1>Visualizza Cliente</h1>
        <form>
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="codice">Codice</label>
                        <input type="email" class="form-control" placeholder="Codice" readonly disabled value={{customer?.id}}>
                    </div>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="ragione-sociale">Ragione Sociale</label>
                        <input class="form-control" placeholder="Ragione Sociale" readonly disabled value={{customer?.name}}>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div class="form-group">
                        <label for="partita-iva">Partita IVA</label>
                        <input type="email" class="form-control" placeholder="Partita IVA" readonly disabled value={{customer?.ivaCode}}>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="codice-fiscale">Num.Telefono</label>
                        <input class="form-control" placeholder="Codice Fiscale" readonly disabled value={{customer?.phone}}>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div class="form-group">
                        <label for="e-mail">E-mail</label>
                        <input type="email" class="form-control" placeholder="E-mail" readonly disabled value={{customer?.email}}>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="indirizzo">Indirizzo</label>
                        <input class="form-control" placeholder="Indirizzo" readonly disabled value={{customer?.address}}>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>