<!-- corpo  base-->
<app-menu [search]=true></app-menu>


<div class="container-page">
    <div class="row container-row ">


        <div class="col-12 col-sm-12 col-md-12 col-lg-12 table-container ">
            <!-- end copro base-->

            <div class="container table-responsive py-5 table-container-responsive">
                <div class="title-container">
                    <h1>Clienti.</h1> <i class="fas fa-users"></i>
                    <div class="button-container-new">
                        <button onclick="toggleNewLayer()"><a>Nuovo Cliente</a></button>
                    </div>
                </div>



                <table class="table">
                    <tr class="tr">
                        <td class="th">Codice</td>
                        <td class="th">Ragione Sociale</td>
                        <td class="th">Partita IVA</td>
                        <td class="th">Codice Fiscale</td>
                        <td class="th">E-mail</td>
                        <td class="th">Indirizzo</td>
                        <td class="th">Azioni</td>
                    </tr>
                    <tr *ngFor="let item of arrayOne(1); let i = index;" class="tr">
                        <td class="td">{{i+1}}</td>
                        <td class="td">F.lli Belometti</td>
                        <td class="td">4253617384927364</td>
                        <td class="td">2435161830427462</td>
                        <td class="td">flli@belometti.it</td>
                        <td class="td">Via Roma, 18, Villongo (BG), 24060</td>
                        <td class="td">
                            <button onclick="toggleLayer()"><i class="fas fa-edit" id="edit"></i></button>
                            <button onclick="toggleLayerZoom()"><i class="fas fa-search" id="zoom"></i></button>
                            <button onclick="toggleLayerConfirm()"><i class="fas fa-times"></i></button>

                        </td>
                    </tr>
                </table>

            </div>

            <button onclick="toggleLayerOverlay()"><div id="overlay">

            </div>
        </button>





            <!-- Ricominica copro base-->
        </div>

    </div>
</div>
<!-- end copro base-->
<app-footer></app-footer>

<!--DIV MODIFICA CLIENTE-->
<div id="div-edit" style="display: none;">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times"></i></button>
        <h1>Modifica Cliente</h1>
        <form>
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="codice">Codice</label>
                        <input type="email" class="form-control" id="codice" placeholder="Codice" required>
                    </div>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="ragione-sociale">Ragione Sociale</label>
                        <input class="form-control" id="ragione-sociale" placeholder="Ragione Sociale" required>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div class="form-group">
                        <label for="partita-iva">Partita IVA</label>
                        <input type="email" class="form-control" id="partita-iva" placeholder="Partita IVA" required>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="codice-fiscale">Codice Fiscale</label>
                        <input class="form-control" id="codice-fiscale" placeholder="Codice Fiscale" required>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div class="form-group">
                        <label for="e-mail">E-mail</label>
                        <input type="email" class="form-control" id="e-mail" placeholder="E-mail">
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="indirizzo">Indirizzo</label>
                        <input class="form-control" id="indirizzo" placeholder="Indirizzo" required>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <button type="submit">Modifica Cliente</button>
            </div>
        </form>
    </div>
</div>
<!--END DIV MODIFICA CLIENTE-->

<!--DIV CREA CLIENTE-->

<div id="div-new" style="display: none;">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times" ></i></button>
        <h1>Crea Nuovo Cliente</h1>
        <form>
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="codice">Codice</label>
                        <input type="email" class="form-control" id="codice" placeholder="Codice" required>
                    </div>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="ragione-sociale">Ragione Sociale</label>
                        <input class="form-control" id="ragione-sociale" placeholder="Ragione Sociale" required>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div class="form-group">
                        <label for="partita-iva">Partita IVA</label>
                        <input type="email" class="form-control" id="partita-iva" placeholder="Partita IVA" required>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="codice-fiscale">Codice Fiscale</label>
                        <input class="form-control" id="codice-fiscale" placeholder="Codice Fiscale" required>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div class="form-group">
                        <label for="e-mail">E-mail</label>
                        <input type="email" class="form-control" id="e-mail" placeholder="E-mail">
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="indirizzo">Indirizzo</label>
                        <input class="form-control" id="indirizzo" placeholder="Indirizzo" required>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <button type="submit">Crea Cliente</button>
            </div>
        </form>
    </div>
</div>
<!--END DIV CREA CLIENTE-->

<!--DIV SEI SICURO DI VOLER ELIMINARE IL CLIENTE?-->

<div id="div-delete" style="display: none; ">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times" ></i></button>
        <h1>Sei sicuro di voler eliminare il Cliente?</h1>
        <br> <br>
        <button class="confirm-button" style="margin-right: 20px;" type="submit">Si</button>
        <button onclick="cancelConfirmLayer()" class="confirm-button" id="annulla" type="submit">No</button>
        <br><br><br>

    </div>
</div>

<!--DIV DETTAGLIO CLIENTE-->

<div id="div-detail" style="display: none; color: white;">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times" ></i></button>

        <h1>Visualizza Cliente</h1>
        <form>
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="codice">Codice</label>
                        <input type="email" class="form-control" id="codice" placeholder="Codice" readonly disabled>
                    </div>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="ragione-sociale">Ragione Sociale</label>
                        <input class="form-control" id="ragione-sociale" placeholder="Ragione Sociale" readonly disabled>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div class="form-group">
                        <label for="partita-iva">Partita IVA</label>
                        <input type="email" class="form-control" id="partita-iva" placeholder="Partita IVA" readonly disabled>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="codice-fiscale">Codice Fiscale</label>
                        <input class="form-control" id="codice-fiscale" placeholder="Codice Fiscale" readonly disabled>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div class="form-group">
                        <label for="e-mail">E-mail</label>
                        <input type="email" class="form-control" id="e-mail" placeholder="E-mail" readonly disabled>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="indirizzo">Indirizzo</label>
                        <input class="form-control" id="indirizzo" placeholder="Indirizzo" readonly disabled>
                    </div>
                </div>

            </div>

        </form>


    </div>

</div>