nav a {
    font-size: 2rem;
    color: var(--color4) !important;
}

nav a:hover {
    font-size: 2rem;
    color: var(--color2) !important;
}

nav a.activated {
    font-size: 2rem;
    color: var(--color2) !important;
}

nav {
    background-color: var(--colorbg) !important;
    height: 15vh;
    color: var(--color3) !important;
}

.collapse.navbar-collapse {
    background-color: var(--colorbg) !important;
    margin-left: -15px !important;
    width: 110% !important;
}

nav li {
    margin-left: 5vh;
}

.dropdown-item:hover {
    background-color: var(--color2) !important;
}

.activated {
    color: var(--color2) !important;
}

.voice-cont {
    width: 60% !important;
    margin-left: auto;
    margin-right: auto;
}

.navbar-toggler:hover {
    color: var(--color2);
}

.navbar-toggler:focus {
    outline: none !important;
    border: none !important;
    color: var(--color2);
}

.block-function {
    display: inline-block;
    background-color: var(--color1);
    text-align: center;
    vertical-align: middle;
    padding: 8vh 0vh 8vh 0vh;
    width: 80%;
    transform: skewX(-10deg);
    margin: 10%;
}

.block-function i {
    font-size: 5rem;
    color: var(--color2);
}

.block-function:hover i {
    color: var(--color3) !important;
}

.block-function:hover {
    transform: skewX(-10deg);
    box-shadow: 0px 8px 10px var(--color3);
    color: var(--color3);
}

.block-descrition {
    font-size: 2rem;
    color: var(--color2);
    font-weight: bold;
}

.block-function:hover .block-descrition {
    color: var(--color3) !important;
}

footer {
    z-index: 999999999;
    position: relative !important;
    background-color: var(--colorbg) !important;
}

footer p,
footer li,
footer a {
    font-size: 1.5rem !important;
    color: var(--color4) !important;
}

footer .text-uppercase {
    font-size: 2rem;
    font-weight: bold;
}

footer a:hover {
    font-size: 2rem;
    color: var(--color2) !important;
}

@media screen and (max-width: 800px) {
    .cont-page {
        height: 140vh !important;
    }
    .row {
        width: 102.6% !important;
    }
}