<app-menu [search]=true></app-menu>
<div class="container-page">
    <div class="row container-row">
        <div class="container table-responsive py-5 table-container-responsive">
            <div class="title-container">
                <h1>Fatture.</h1> <i class="fas fa-file-invoice"></i>
            </div>
            <div class="button-container-new">
                <button onclick="toggleNewLayer()"><a>Nuova Fattura</a></button>
            </div>
            <table class="table">
                <tr class="tr">
                    <td class="th">Numero</td>
                    <td class="th">Ragione Sociale</td>
                    <td class="th">Data</td>
                    <td class="th">Pagamento</td>
                    <td class="th">Totale</td>
                    <td class="th">Valuta</td>
                    <td class="th">Azioni</td>
                </tr>
                <tr *ngFor="let item of arrayOne(28); let i = index;" class="tr">
                    <td class="td">{{i+1}}</td>
                    <td class="td">F.lli Belometti</td>
                    <td class="td">24/02/2020</td>
                    <td class="td">Bonifico</td>
                    <td class="td">130</td>
                    <td class="td">Euro</td>
                    <td class="td">
                        <button onclick="toggleLayer()"><i class="fas fa-edit" id="edit"></i></button>
                        <button onclick="toggleLayerZoom()"><i class="fas fa-search" id="zoom"></i></button>
                        <button onclick="toggleLayerConfirm()"><i class="fas fa-times"></i></button>
                    </td>
                </tr>
            </table>
        </div>
        <button onclick="toggleLayerOverlay()">
            <div id="overlay"></div>
        </button>
    </div>
</div>
<!-- end copro base-->
<app-footer></app-footer>

<!--DIV MODIFICA FATTURA-->
<div id="div-edit" style="display: none;">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times"></i></button>
        <h1>Modifica Fattura</h1>
        <form>
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Codice</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Codice" required>
                    </div>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Ragione Sociale</label>
                        <input class="form-control" id="exampleFormControlSelect1" placeholder="Ragione Sociale" required>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Data</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Data" required>
                    </div>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Pagamento</label>
                        <input class="form-control" id="exampleFormControlSelect1" placeholder="Pagamento" required>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Totale</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Totale">
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Valuta</label>
                        <input class="form-control" id="exampleFormControlSelect1" placeholder="Valuta" required>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <button type="submit">Modifica Fattura</button>
            </div>
        </form>
    </div>
</div>
<!--END DIV MODIFICA FATTURA-->

<!--DIV CREA FATTURA-->

<div id="div-new" style="display: none;">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times" ></i></button>
        <h1>Crea Nuova Fattura</h1>
        <form>
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Codice</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Codice" required>
                    </div>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Ragione Sociale</label>
                        <input class="form-control" id="exampleFormControlSelect1" placeholder="Ragione Sociale" required>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Data</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Data" required>
                    </div>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Pagamento</label>
                        <input class="form-control" id="exampleFormControlSelect1" placeholder="Pagamento" required>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Totale</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Totale">
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Valuta</label>
                        <input class="form-control" id="exampleFormControlSelect1" placeholder="Valuta" required>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <button type="submit">Crea Fattura</button>
            </div>
        </form>
    </div>
</div>
<!--END DIV CREA FATTURA-->

<!--DIV SEI SICURO DI VOLER ELIMINARE FATTURA?-->

<div id="div-delete" style="display: none; ">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times" ></i></button>
        <h1>Sei sicuro di voler eliminare la fattura?</h1>
        <br> <br>
        <button class="confirm-button" style="margin-right: 20px;" type="submit">Si</button>
        <button onclick="cancelConfirmLayer()" class="confirm-button" id="annulla" type="submit">No</button>
        <br><br><br>

    </div>
</div>


<!--DIV DETTAGLIO FATTURA-->

<div id="div-detail" style="display: none; ">
    <div class="form-container">
        <div class="action">
            <span class="title">Dettaglio Fattura</span>
            <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times" ></i></button>
            <button onclick="window.printDiv('div-detail')" class="print"><i class="fas fa-print"></i></button>
        </div>

        <div class="fattura">
            <div class="row testa">

                <div class="col-6 col-sm-6 col-md-6 col-lg-6 logo">

                    <img src="../../../assets/logo-fatture.png" alt="">

                </div>

                <div class="col-6 col-sm-6 col-md-6 col-lg-6 info">

                    Ragione Sociale: F.lli De Vignani <br><br> Partita IVA: 7593057385937483<br><br> Sede Spedizione: Via G.Rossi, 22<br><br> Villongo (BG), 24060



                </div>
            </div>

            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 rif">

                    <table class="table" style="width: 76%;">
                        <tr class="tr">
                            <td class="th">Numero</td>
                            <td class="th">Data</td>
                        </tr>
                        <tr class="tr">
                            <td class="td">1</td>
                            <td class="td">24/02/2020</td>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">

                    <table class="table">
                        <tr class="tr" style="width: 100%;">
                            <td colspan="5">Riepilogo generale</td>
                        </tr>
                        <tr class="tr">
                            <td class="th">Codice</td>
                            <td class="th">Descrizione</td>
                            <td class="th">Unità di misura</td>
                            <td class="th">Prezzo</td>
                            <td class="th">IVA</td>

                        </tr>
                        <tr *ngFor="let item of arrayOne(10); let i = index;" class="tr">
                            <td class="td">{{i+1}}</td>
                            <td class="td">Penna</td>
                            <td class="td">PZ</td>
                            <td class="td">20</td>
                            <td class="td">22</td>
                        </tr>
                    </table>
                </div>



            </div>

            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">


                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 totale">

                    <table class="table">
                        <tr class="tr">
                            <td class="th">Totale Senza IVA</td>
                        </tr>
                        <tr class="tr">
                            <td class="td">1</td>
                        </tr>
                        <table class="table">
                            <tr class="tr">
                                <td class="th">Totale con IVA</td>
                            </tr>
                            <tr class="tr">
                                <td class="td">1</td>
                            </tr>
                        </table>
                    </table>
                </div>
            </div>
        </div>


    </div>