<app-menu [search]=true></app-menu>
<div class="container-page">
    <div class="row container-row ">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 table-container ">
            <div class="container table-responsive py-5 table-container-responsive" *ngIf="invoices.length>0; else empty">
                <div class="title-container">
                    <h1><span *ngIf="!searchButton">Ricerca </span>Fatture.</h1> <i class="fas fa-file-invoice"></i>
                    <div class="button-container-new" style="display: inline-block;">
                        <button onclick="toggleNewLayer()" (click)="addInvoice()"><a>Nuova
                                Fattura</a></button>
                    </div>
                </div>
                <h3 *ngIf="!searchButton" class="results">La tua ricerca ha prodotto: {{invoices.length}} risultati</h3>
                <table class="table">
                    <tr class="tr">
                        <td class="th">Numero</td>
                        <td class="th">Ragione Sociale</td>
                        <td class="th">Data</td>
                        <td class="th">Metodo di Pagamento</td>
                        <td class="th">Totale</td>
                        <td class="th">Azioni</td>
                    </tr>
                    <tr *ngFor="let invoice of invoices; let i = index;" class="tr">
                        <td class="td">{{i+1}}</td>
                        <td class="td">{{invoice.accountholder|titlecase}}</td>
                        <td class="td">{{invoice.date}}</td>
                        <td class="td">{{invoice.paymentMethod|titlecase}}</td>
                        <td class="td">{{invoice.tail.finalAmount| number:'1.2-2'|eur}}</td>
                        <td class="td">
                            <button onclick="toggleLayer()"><i class="fas fa-edit" (click)="detail(invoice.id); populateForm()"></i></button>
                            <button onclick="toggleLayerZoom()"><i class="fas fa-search" (click)="detail(invoice.id)"></i></button>
                            <button onclick="toggleLayerConfirm()"><i class="fas fa-times" (click)="detail(invoice.id)"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
            <ng-template #empty>
                <div class="empty" *ngIf="searchButton">
                    <h2>Non hai nessuna fattura.<br>Aggiungine una ora!</h2>
                    <button onclick="toggleNewLayer()" class="add">Nuova Fattura</button>
                </div>
                <div class="empty" *ngIf="!searchButton">
                    <h2>La tua ricerca non ha prodotto risultati.</h2>
                </div>
            </ng-template>
        </div>
        <button onclick="toggleLayerOverlay()">
            <div id="overlay"></div>
        </button>
    </div>
</div>
<app-footer></app-footer>

<!--DIV MODIFICA-->
<div id="div-edit" style="display: none;">
    <div class="create-invoice">
        <button id="x-icon-2" onclick="toggleLayerX()"><i class="fas fa-times"></i></button>
        <h1>Modifica Fattura</h1>
        <form [formGroup]="invoiceForm" (ngSubmit)="updateInvoice()">
            <button class="saveButton" type="submit" onclick="toggleLayerX()" id="x-icon-2" [disabled]="invoiceForm.status === 'INVALID'" [ngClass]="{'disabled': invoiceForm.status === 'INVALID'}"> <i class="far fa-save"></i></button>
            <div class="row">
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="Intestatario">Intestatario</label>
                        <input class="form-control" placeholder="Intestatario" formControlName="accountholder">
                    </div>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="tail">Sconto Coda %</label>
                        <input type="number" class="form-control" placeholder="Sconto coda percentuale" formControlName="tail" min="0" max="100">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="data">Data</label>
                        <input type="date" class="form-control" formControlName="date">
                    </div>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="pagamento">Pagamento</label>
                        <input class="form-control" placeholder="Pagamento" formControlName="paymentMethod">
                    </div>
                </div>
            </div>
            <div class="summary">
                <h1>Riepilogo</h1>
                <label class="lab">RIGHE</label>
                <div class="flex-row">
                    <div class="one">
                        <label>Sconto %</label>
                        <input type="text" class="form-control" disabled [value]="calcs()[0].percDiscount | number:'1.1-2'|perc">
                    </div>
                    <div class="one">
                        <label>Valore sconto</label>
                        <input class="form-control" disabled [value]="calcs()[0].discountValue| number:'1.2-2'|eur">
                    </div>
                    <div class="one">
                        <label>Imponibile</label>
                        <input class="form-control" disabled [value]="calcs()[0].taxable| number:'1.2-2'|eur">
                    </div>
                    <div class="one">
                        <label>IVA</label>
                        <input class="form-control" disabled [value]="calcs()[0].taxed| number:'1.2-2'|eur">
                    </div>
                    <div class="one">
                        <label>Totale</label>
                        <input class="form-control" disabled [value]="calcs()[0].finalAmount| number:'1.2-2'|eur">
                    </div>
                </div>
                <label class="lab sec">CODA</label>
                <div class="flex-row">
                    <div class="one">
                        <label>Sconto %</label>
                        <input class="form-control" disabled [value]="calcs()[1].percDiscount | number:'1.1-2'|perc">
                    </div>
                    <div class="one">
                        <label>Valore sconto</label>
                        <input class="form-control" disabled [value]="calcs()[1].discountValue| number:'1.2-2'|eur">
                    </div>
                    <div class="one">
                        <label>Imponibile</label>
                        <input class="form-control" disabled [value]="calcs()[1].taxable| number:'1.2-2'|eur">
                    </div>
                    <div class="one">
                        <label>IVA</label>
                        <input class="form-control" disabled [value]="calcs()[1].taxed| number:'1.2-2'|eur">
                    </div>
                    <div class="one">
                        <label>Totale</label>
                        <input class="form-control" disabled [value]="calcs()[1].finalAmount| number:'1.2-2'|eur">
                    </div>
                </div>
            </div>
            <div class="itemsArr">
                <h1>Articoli</h1>
                <div formArrayName="rows" *ngFor="let item of invoiceForm.get('rows')['controls']; let i = index;" class="row">
                    <div [formGroupName]="i">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Articolo {{i+1}}</label>
                                <select data-menu formControlName="item" class="form-control">
                                    <option *ngFor="let item of items" value="{{item.id}}">{{item.description}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Quantità</label>
                                <input type="number" formControlName="quantity" placeholder="Quantità" class="form-control">
                            </div>
                        </div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Sconto %</label>
                                <input type="number" formControlName="percDiscount" placeholder="Sconto Percentuale" class="form-control" min="0" max="100">
                            </div>
                        </div>
                    </div>
                    <div class="addForm">
                        <button type="button" (click)="addItem()" class="addItem">Aggiungi</button>
                    </div>
                    <div class="deleteForm" *ngIf="invoiceForm.get('rows')['controls'].length>1">
                        <button type="button" (click)="deleteItem(i)" class="deleteItem"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--DIV CREA FATTURA-->
<div id="div-new" style="display: none;">
    <div class="create-invoice">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times"></i></button>
        <h1>Crea Nuova Fattura</h1>
        <form [formGroup]="invoiceForm" (ngSubmit)="saveInvoice()">
            <button class="saveButton" type="submit" onclick="toggleLayerX()" id="x-icon" [disabled]="invoiceForm.status === 'INVALID'" [ngClass]="{'disabled': invoiceForm.status === 'INVALID'}"> <i class="far fa-save"></i></button>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="row" style="margin-left: 10%; margin-right: 10%;">
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="form-group">
                            <label for="Intestatario">Intestatario</label>
                            <input class="form-control" placeholder="Intestatario" formControlName="accountholder">
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                        <div class="form-group">
                            <label for="tail">Sconto Coda %</label>
                            <input type="number" class="form-control" placeholder="Sconto coda percentuale" formControlName="tail" min="0" max="100">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 10%; margin-right: 10%;">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                        <div class="form-group">
                            <label for="data">Data</label>
                            <input type="date" class="form-control" placeholder="Data" formControlName="date">
                        </div>
                    </div>
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="form-group">
                            <label for="pagamento">Pagamento</label>
                            <input class="form-control" placeholder="Pagamento" formControlName="paymentMethod">
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <h1>Riepilogo</h1>
                    <label class="lab">RIGHE</label>
                    <div class="flex-row">
                        <div class="one">
                            <label>Sconto %</label>
                            <input type="text" class="form-control" disabled [value]="calcs()[0].percDiscount | number:'1.1-2'|perc">
                        </div>
                        <div class="one">
                            <label>Valore sconto</label>
                            <input class="form-control" disabled [value]="calcs()[0].discountValue| number:'1.2-2'|eur">
                        </div>
                        <div class="one">
                            <label>Imponibile</label>
                            <input class="form-control" disabled [value]="calcs()[0].taxable| number:'1.2-2'|eur">
                        </div>
                        <div class="one">
                            <label>IVA</label>
                            <input class="form-control" disabled [value]="calcs()[0].taxed| number:'1.2-2'|eur">
                        </div>
                        <div class="one">
                            <label>Totale</label>
                            <input class="form-control" disabled [value]="calcs()[0].finalAmount| number:'1.2-2'|eur">
                        </div>
                    </div>
                    <label class="lab sec">CODA</label>
                    <div class="flex-row">
                        <div class="one">
                            <label>Sconto %</label>
                            <input class="form-control" disabled [value]="calcs()[1].percDiscount | number:'1.1-2'|perc">
                        </div>
                        <div class="one">
                            <label>Valore sconto</label>
                            <input class="form-control" disabled [value]="calcs()[1].discountValue| number:'1.2-2'|eur">
                        </div>
                        <div class="one">
                            <label>Imponibile</label>
                            <input class="form-control" disabled [value]="calcs()[1].taxable| number:'1.2-2'|eur">
                        </div>
                        <div class="one">
                            <label>IVA</label>
                            <input class="form-control" disabled [value]="calcs()[1].taxed| number:'1.2-2'|eur">
                        </div>
                        <div class="one">
                            <label>Totale</label>
                            <input class="form-control" disabled [value]="calcs()[1].finalAmount| number:'1.2-2'|eur">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="itemsArr">
                        <h1>Articoli</h1>
                        <div formArrayName="rows" *ngFor="let item of invoiceForm.get('rows')['controls']; let i = index;" class="row">
                            <div [formGroupName]="i" style="border-bottom: 1px solid white;">
                                <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label>Articolo {{i+1}}</label>
                                        <select formControlName="item" class="form-control">
                                        <option value="null" disabled hidden>Seleziona Articolo</option>
                                            <option [ngValue]="item.id" *ngFor="let item of items">
                                                {{item.description}}
                                          </option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Quantità</label>
                                        <input type="number" formControlName="quantity" placeholder="Quantità" class="form-control">
                                    </div>
                                </div>
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Prezzo Un.</label>
                                        <input type="number" formControlName="price" placeholder="Prezzo Unitario" class="form-control">
                                    </div>
                                </div>
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Sconto %</label>
                                        <input type="number" formControlName="percDiscount" placeholder="Sconto Percentuale" class="form-control" min="0" max="100">
                                    </div>
                                </div>
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Sconto Tot.</label>
                                        <input type="number" formControlName="percDiscount" placeholder="Totale Sconto" class="form-control" min="0" max="100">
                                    </div>
                                </div>
                                <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label>Prz. Scont.</label>
                                        <input type="number" formControlName="percDiscount" placeholder="Prezzo Scontato" class="form-control" min="0" max="100">
                                    </div>
                                </div>
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Imponibile</label>
                                        <input type="number" formControlName="percDiscount" placeholder="Imponibile Sconto" class="form-control" min="0" max="100">
                                    </div>
                                </div>
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>IVA</label>
                                        <input type="number" formControlName="percDiscount" placeholder="IVA Sconto" class="form-control" min="0" max="100">
                                    </div>
                                </div>
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Totale</label>
                                        <input type="number" formControlName="percDiscount" placeholder="Totale" class="form-control" min="0" max="100">
                                    </div>
                                </div>
                            </div>

                            <div class="addForm">
                                <button type="button" (click)="addItem();" class="addItem">Aggiungi</button>
                            </div>
                            <div class="deleteForm" *ngIf="invoiceForm.get('rows')['controls'].length>1">
                                <button type="button" (click)="deleteItem(i)" class="deleteItem"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<!--DIV SEI SICURO DI VOLER ELIMINARE FATTURA?-->
<div id="div-delete" style="display: none; ">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times"></i></button>
        <h1>Sei sicuro di voler eliminare la fattura?</h1>
        <br> <br>
        <button onclick="cancelConfirmLayer()" class="confirm-button" style="margin-right: 20px;" type="submit" (click)="delete()">Si</button>
        <button onclick="cancelConfirmLayer()" class="confirm-button" id="annulla" type="submit">No</button>
        <br><br><br>
    </div>
</div>

<!--DIV DETTAGLIO FATTURA-->
<div id="div-detail" style="display: none; ">
    <div class="form-container">
        <div class="action">
            <span class="title">Dettaglio Fattura</span>
            <button id="x-icon" onclick="toggleLayerX()" title="Chiudi finestra"><i class="fas fa-times"></i></button>
            <button onclick="window.printDiv('div-detail')" class="print" title="Satampa o salva in PDF"><i class="fas fa-print"></i></button>
            <button onclick="download_table_as_csv('dettaglioTable');" class="print" title="Scarica il file Excel"><i class="fas fa-file-excel"></i></button>
        </div>
        <div class="fattura">
            <div class="row testa">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 logo">
                    <img src="../../../assets/logo-fatture.png" alt="" class="imgDetail">
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 info">
                    Ragione Sociale:<br> <b>{{invoiceDetail?.accountholder}}</b> <br> Partita IVA:<br>
                    <b>{{currentUser?.ivaCode}}</b><br> Sede Spedizione:<br> <b>{{currentUser?.address}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 rif">
                    <table class="table" style="width: 76%;">
                        <tr class="tr">
                            <td class="th">Numero</td>
                            <td class="th">Data</td>
                        </tr>
                        <tr class="tr">
                            <td class="td">{{invoiceDetail?.id}}</td>
                            <td class="td">{{invoiceDetail?.date}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table" id="dettaglioTable">
                        <tr class="tr">
                            <td colspan="9">
                                <h4 class="titletable">Riepilogo Righe</h4>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="th">Nome Articolo</td>
                            <td class="th">Prezzo<br>Unitario</td>
                            <td class="th">Quantità</td>
                            <td class="th">Sconto (%)</td>
                            <td class="th">Totale Sconto</td>
                            <td class="th">Prezzo scontato<br>Singolo</td>
                            <td class="th">Imponibile</td>
                            <td class="th">IVA</td>
                            <td class="th">Totale</td>
                        </tr>
                        <tr *ngFor="let row of invoiceDetail?.rows" class="tr">
                            <td class="td">{{row.item.description}}</td>
                            <td class="td">{{row.item.price|eur}}</td>
                            <td class="td">{{row.quantity}}</td>
                            <td class="td">{{row.percDiscount|perc}}</td>
                            <td class="td">{{row.totDiscount|eur}}</td>
                            <td class="td">{{row.netPrice|eur}}</td>
                            <td class="td">{{row.taxable|eur}}</td>
                            <td class="td">{{row.taxed|eur}}</td>
                            <td class="td">{{row.finalAmount|eur}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table">
                        <tr class="tr">
                            <td colspan="9">
                                <h4 class="titletable">Coda fattura</h4>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="th">Totale Righe</td>
                            <td class="th">Servizi</td>
                            <td class="th">Tot. Sconto<br>Righe</td>
                            <td class="th">Sconto<br>coda(%)</td>
                            <td class="th">Valore<br>Sconto</td>
                            <td class="th">Totale<br>sconto</td>
                            <td class="th">Imponibile</td>
                            <td class="th">IVA</td>
                            <td class="th">Totale</td>
                        </tr>
                        <tr>
                            <td class="td">{{invoiceDetail?.tail.itemsValue|eur}}</td>
                            <td class="td">{{invoiceDetail?.tail.serviceValue|eur}}</td>
                            <td class="td">{{invoiceDetail?.tail.rowsDiscount|eur}}</td>
                            <td class="td">{{invoiceDetail?.tail.percDiscount|perc}}</td>
                            <td class="td">{{invoiceDetail?.tail.discountValue|eur}}</td>
                            <td class="td">{{invoiceDetail?.tail.totDiscount|eur}}</td>
                            <td class="td">{{invoiceDetail?.tail.taxable|eur}}</td>
                            <td class="td">{{invoiceDetail?.tail.taxed|eur}}</td>
                            <td class="td">{{invoiceDetail?.tail.finalAmount|eur}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>