<app-menu [search]=true></app-menu>
<div class="container-page">
    <div class="row container-row ">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 table-container ">
            <div class="container table-responsive py-5 table-container-responsive">
                <div class="title-container">
                    <h1>Fatture.</h1> <i class="fas fa-file-invoice"></i>
                    <div class="button-container-new" style="display: inline-block;">
                        <button onclick="toggleNewLayer()" (click)="invoiceForm.reset();itemsArr?.clear();this.itemsArr?.push(this.createItem())"><a>Nuova
                                Fattura</a></button>
                    </div>
                </div>
                <table class="table">
                    <tr class="tr">
                        <td class="th">Numero</td>
                        <td class="th">Ragione Sociale</td>
                        <td class="th">Data</td>
                        <td class="th">Metodo di Pagamento</td>
                        <td class="th">Totale</td>
                        <td class="th">Azioni</td>
                    </tr>
                    <tr *ngFor="let invoice of invoices; let i = index;" class="tr">
                        <td class="td">{{i+1}}</td>
                        <td class="td">{{invoice.accountholder}}</td>
                        <td class="td">{{invoice.date}}</td>
                        <td class="td">{{invoice.paymentMethod}}</td>
                        <td class="td">{{invoice.tail.finalAmount}} €</td>
                        <td class="td">
                            <button onclick="toggleLayer()"><i class="fas fa-edit"></i></button>
                            <button onclick="toggleLayerZoom()"><i class="fas fa-search" (click)="detail(invoice.id)"></i></button>
                            <button onclick="toggleLayerConfirm()"><i class="fas fa-times" (click)="detail(invoice.id)"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <button onclick="toggleLayerOverlay()">
            <div id="overlay"></div>
        </button>
    </div>
</div>
<app-footer></app-footer>

<div id="div-edit" style="display: none;">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times"></i></button>
        <h1>Modifica Fattura</h1>
        <form>
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="codice">Codice</label>
                        <input type="email" class="form-control" placeholder="Codice" required>
                    </div>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="ragione-sociale">Ragione Sociale</label>
                        <input class="form-control" placeholder="Ragione Sociale" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="data">Data</label>
                        <input type="email" class="form-control" placeholder="Data" required>
                    </div>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="pagamento">Pagamento</label>
                        <input class="form-control" placeholder="Pagamento" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <div class="form-group">
                        <label for="totale">Totale</label>
                        <input type="email" class="form-control" placeholder="Totale">
                    </div>
                </div>

            </div>
            <div class="form-group">
                <button type="submit">Modifica Fattura</button>
            </div>
        </form>
    </div>
</div>

<!--DIV CREA FATTURA-->
<div id="div-new" style="display: none;">
    <div class="create-invoice">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times"></i></button>
        <h1>Crea Nuova Fattura</h1>
        <form [formGroup]="invoiceForm" (ngSubmit)="save()">
            <button class="saveButton" type="submit" onclick="toggleLayerX()" id="x-icon" [disabled]="invoiceForm.status === 'INVALID'" [ngClass]="{'disabled': invoiceForm.status === 'INVALID'}"> <i class="far fa-save"></i></button>
            <div class="row">
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="Intestatario">Intestatario</label>
                        <input class="form-control" placeholder="Intestatario" formControlName="accountholder">
                    </div>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="tail">Sconto Coda %</label>
                        <input type="number" class="form-control" placeholder="Sconto coda percentuale" formControlName="tail" min="0" max="100">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <label for="data">Data</label>
                        <input type="date" class="form-control" placeholder="Data" formControlName="date">
                    </div>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="pagamento">Pagamento</label>
                        <input class="form-control" placeholder="Pagamento" formControlName="paymentMethod">
                    </div>
                </div>
            </div>
            <div class="itemsArr">
                <div formArrayName="rows" *ngFor="let item of invoiceForm.get('rows')['controls']; let i = index;" class="row">
                    <div [formGroupName]="i">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Oggetto {{i+1}}</label>
                                <select data-menu formControlName="item" class="form-control">
                                    <option *ngFor="let item of items" value="{{item.id}}">{{item.description}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Quantità</label>
                                <input type="number" formControlName="quantity" placeholder="Quantità" class="form-control">
                            </div>
                        </div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Sconto %</label>
                                <input type="number" formControlName="percDiscount" placeholder="Sconto Percentuale" class="form-control" min="0" max="100">
                            </div>
                        </div>
                    </div>
                    <div class="addForm">
                        <button type="button" (click)="addItem()" class="addItem">Aggiungi</button>
                    </div>
                    <div class="deleteForm" *ngIf="invoiceForm.get('rows')['controls'].length>1">
                        <button type="button" (click)="deleteItem(i)" class="deleteItem"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="summary">
                <h1>Riepilogo</h1>
                <div class="flex-row">
                    <div class="one">
                        <label>Sconto %</label>
                        <input class="form-control" disabled>
                    </div>
                    <div class="one">
                        <label>Valore righe</label>
                        <input class="form-control" disabled>
                    </div>
                    <div class="one">
                        <label>Servizi</label>
                        <input class="form-control" disabled>
                    </div>
                    <div class="one">
                        <label>Val. sconto riga</label>
                        <input class="form-control" disabled>
                    </div>
                    <div class="one">
                        <label>Sc. riga %</label>
                        <input class="form-control" disabled>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="one">
                        <label>Sconto %</label>
                        <input class="form-control" disabled>
                    </div>
                    <div class="one">
                        <label>Valore righe</label>
                        <input class="form-control" disabled>
                    </div>
                    <div class="one">
                        <label>Servizi</label>
                        <input class="form-control" disabled>
                    </div>
                    <div class="one">
                        <label>Val. sconto riga</label>
                        <input class="form-control" disabled>
                    </div>
                    <div class="one">
                        <label>Sc. riga %</label>
                        <input class="form-control" disabled>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--DIV SEI SICURO DI VOLER ELIMINARE FATTURA?-->
<div id="div-delete" style="display: none; ">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times"></i></button>
        <h1>Sei sicuro di voler eliminare la fattura?</h1>
        <br> <br>
        <button onclick="cancelConfirmLayer()" class="confirm-button" style="margin-right: 20px;" type="submit" (click)="delete()">Si</button>
        <button onclick="cancelConfirmLayer()" class="confirm-button" id="annulla" type="submit">No</button>
        <br><br><br>
    </div>
</div>

<!--DIV DETTAGLIO FATTURA-->
<div id="div-detail" style="display: none; ">
    <div class="form-container">
        <div class="action">
            <span class="title">Dettaglio Fattura</span>
            <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times"></i></button>
            <button onclick="window.printDiv('div-detail')" class="print"><i class="fas fa-print"></i></button>
        </div>
        <div class="fattura">
            <div class="row testa">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 logo">
                    <img src="../../../assets/logo-fatture.png" alt="" class="imgDetail">
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 info">
                    Ragione Sociale:<br> <b>{{invoiceDetail?.accountholder}}</b> <br> Partita IVA:<br>
                    <b>{{currentUser?.ivaCode}}</b><br> Sede Spedizione:<br> <b>{{currentUser?.address}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 rif">
                    <table class="table" style="width: 76%;">
                        <tr class="tr">
                            <td class="th">Numero</td>
                            <td class="th">Data</td>
                        </tr>
                        <tr class="tr">
                            <td class="td">{{invoiceDetail?.id}}</td>
                            <td class="td">{{invoiceDetail?.date}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table">
                        <tr class="tr">
                            <td colspan="9">
                                <h4 class="titletable">Riepilogo Righe</h4>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="th">Nome Articolo</td>
                            <td class="th">Prezzo<br>Unitario</td>
                            <td class="th">Quantità</td>
                            <td class="th">Sconto (%)</td>
                            <td class="th">Totale Sconto</td>
                            <td class="th">Prezzo scontato<br>Singolo</td>
                            <td class="th">Imponibile</td>
                            <td class="th">Tasse</td>
                            <td class="th">Totale</td>
                        </tr>
                        <tr *ngFor="let row of invoiceDetail?.rows" class="tr">
                            <td class="td">{{row.item.description}}</td>
                            <td class="td">{{row.item.price}} €</td>
                            <td class="td">{{row.quantity}}</td>
                            <td class="td">{{row.percDiscount}} %</td>
                            <td class="td">{{row.totDiscount}} €</td>
                            <td class="td">{{row.netPrice}} €</td>
                            <td class="td">{{row.taxable}} €</td>
                            <td class="td">{{row.taxed}} €</td>
                            <td class="td">{{row.finalAmount}} €</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table">
                        <tr class="tr">
                            <td colspan="9">
                                <h4 class="titletable">Coda fattura</h4>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="th">Totale Righe</td>
                            <td class="th">Servizi</td>
                            <td class="th">Tot. Sconto<br>Righe</td>
                            <td class="th">Sconto<br>coda(%)</td>
                            <td class="th">Valore<br>Sconto</td>
                            <td class="th">Totale<br>sconto</td>
                            <td class="th">Imponibile</td>
                            <td class="th">Tasse</td>
                            <td class="th">Totale</td>
                        </tr>
                        <tr>
                            <td class="td">{{invoiceDetail?.tail.itemsValue}} €</td>
                            <td class="td">{{invoiceDetail?.tail.serviceValue}} €</td>
                            <td class="td">{{invoiceDetail?.tail.rowsDiscount}} €</td>
                            <td class="td">{{invoiceDetail?.tail.discountPerc}} %</td>
                            <td class="td">{{invoiceDetail?.tail.discountValue}} €</td>
                            <td class="td">{{invoiceDetail?.tail.totDiscount}} €</td>
                            <td class="td">{{invoiceDetail?.tail.taxable}} €</td>
                            <td class="td">{{invoiceDetail?.tail.taxed}} €</td>
                            <td class="td">{{invoiceDetail?.tail.finalAmount}} €</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>